<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessaBancoDados.Properties.Settings.stringConexao"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SAERP;Persist Security Info=True;User ID=sa;Password=mygod&amp;1000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>